<!DOCTYPE html>
<html lang="en" data-ng-app="elasticDemo" id="ng-app">
<head>
  <meta charset="utf-8">
  <title>Angular Elastic</title>
  <meta name="viewport" content="width=device-width">
  <style>
    html {
      font-family: sans-serif;
    }

    textarea {
      font-size: inherit;
      padding: 10px;
      width: 300px;
    }

    .animate:focus {
      transition: height 50ms ease-in-out;
    }

    .msd-elastic {
      max-height: 400px;
    }
  </style>
</head>
<body data-ng-controller="elasticDemoController">

  <h1>Angular Elastic</h1>

  <form data-ng-submit="submit()">
    <p>
      <textarea class="msd-elastic" data-ng-model="foo" data-ng-show="show" data-ng-controller="elasticCallbackController"></textarea>
    </p>
    <small data-ng-show="show"><a href data-ng-click="show = false">Hide</a> | </small>
    <small data-ng-show="!show"><a href data-ng-click="show = true">Show</a> | </small>
    <small><a href data-ng-click="foo = 'Model changed'">Change model</a></small>
    <p>
      <textarea class="animate msd-elastic: \n;" data-ng-model="bar"></textarea>
    </p>
    <p>
      <input type="submit" value="Submit and reset">
    </p>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
  <script src="elastic.js"></script>
  <script>
    angular
      .module("elasticDemo", ["monospaced.elastic"])
      .controller("elasticDemoController", [
        "$scope",
        function($scope) {
          "use strict";
          $scope.foo =
            "This textarea is going to grow when you fill it with text. Just type a few more words in it and you will see. This textarea is going to grow when you fill it with text.";
          $scope.bar = "Elastic with a CSS transition. Try typing something...";
          $scope.submit = function() {
            $scope.bar = "";
          };
          $scope.show = true;
        }
      ])
      .controller("elasticCallbackController", [
        "$scope",
        "$log",
        function($scope, $log) {
          "use strict";
          $scope.$on("elastic:resize", function() {
            $log.log("Height was adjusted!");
          });
        }
      ]);
  </script>
</body>
</html>
